*.env
*data
.idea
.DS_Store
flutter_app/linux/flutter/generated_plugin_registrant.cc
flutter_app/linux/flutter/generated_plugin_registrant.h
flutter_app/linux/flutter/generated_plugins.cmake
flutter_app/macos/Flutter/GeneratedPluginRegistrant.swift
flutter_app/windows/flutter/generated_plugin_registrant.cc
flutter_app/windows/flutter/generated_plugin_registrant.h
flutter_app/windows/flutter/generated_plugins.cmake
flutter_app/pubspec.lock
